body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f4f4f4; 
  color: #222;
  margin: 0;
  width: 100%;
  padding: 0;
}

/* Using a different font for headings so they stand out */
h1, h2, h3 {
  font-family: 'Stick No Bills', sans-serif;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 1rem;
}

/* Skip link  */
.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  background: black;
  color: white;
  padding: 1rem;
}

/* Makes skip link visible when tabbed to */
.skip-link:focus {
  left: 1rem;
  z-index: 999;
}

/* NAVIGATION */

/* Flexbox is used to space navigation links evenly */
.main-nav ul { 
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  margin: 0; 
  padding: 0;
} 

.main-nav li { 
  flex: 1; 
  text-align: center;
} 

.main-nav a { 
  display: block;
  padding: 1rem; 
  color: #000; 
  text-decoration: none;
} 

/* Hover and focus styles help keyboard and mouse users */
.main-nav a:hover, 
.main-nav a:focus { 
  background-color: pink; 
  outline: 2px solid #000; 
}

img {
  width: 100%;
  height: auto;
}

/* Form inputs are styled to be large and easy to interact with */
 form input,
 form textarea {
  width: 100%;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 2px solid #444;
  border-radius: 4px;
}

/* Focus styles make it clear which field is active */
form input:focus,
form textarea:focus {
  outline: 3px solid pink;
}

form button {
  background: black;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
form button:hover,
form button:focus {
  background: #333;
}

/* FOOTER */

.site-footer {
  background-color:pink;
  color: black;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  margin-top: 3rem;
}
